.contenedor-principal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}

.contenedor-tabla{
    max-height: 300px;
    overflow-y: auto;
}

.tabla{
    width: auto;
    border-collapse: collapse;
    margin: 0 auto;
    
}

.contenedor-botones{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 1rem;
}

.btn-mostrar{
    background-color: #1976d2;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.btn-pendientes{
    background-color: #ff6347;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.btn-completadas{
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.btn-completadas:hover{
    background-color:#45a049;
}

.btn-mostrar:hover{
    background-color: #1461ad ;
}
.btn-pendientes:hover{
    background-color:#c74c36 ;
}